<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/log/${processname}_log.txt"
            archiveEvery="minute"
            archiveDateFormat="yyyy-MM-dd HH_mm_ss"
            archiveNumbering="DateAndSequence"
            archiveFileName="${basedir}/log/${processname}_{####}.txt"
            archiveAboveSize="10000"
            maxArchiveFiles="10"
            maxArchiveDays="7"
            concurrentWrites="true"/>
    <target name="logdebugger" xsi:type="Debugger" layout="${level:uppercase=true}|${logger}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="logdebugger" />
  </rules>
</nlog>